.player {
  font-family: "Syne Mono", monospace;
}

.container {
  margin: 5px;
  padding: 15px;
  text-align: center;
  background: #eeebdd;
  /* background: #c5c1ad; */
  display: flex;
  flex-direction: column;
}

.count {
  border-radius: 50%;
  padding: 5px 20px;
  margin: 50px auto;
}

.total {
  border: 1px solid #810000;
  background: #630000;
  color: #eeebdd;
  padding: 5px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}
